<h1 class="text-center text-white mb-3">Welcome to <%= ENV['APP_NAME'] %></h1>
<div class="bg-transparent text-white">
  <h3 class="card-title">Try the Utilities 🛠️ menu and check out the awesome features you'll find here for free!</h3>

  <div class="row g-2 my-5">
    <div class="col-md-6">
      <div class="card border-dark">
        <div class="card-body">
          <h5 class="card-title">Bookmarker</h5>
          <p class="card-text">
            Tired of browser bookmarks? Not only will this Utility help you organize your bookmarks, it helps me organize myself!
          </p>
          <%= link_to 'Go to My Bookmarker 🚩', bookmarks_path, class: "btn btn-outline-light btn-lg" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card border-dark text-white">
        <div class="card-body">
          <h5 class="card-title">Semantic Research Table</h5>
          <p class="card-text">
            Tired of accidentally closing tabs? This Utility will help you keep track of your research efforts. Don't know what I mean? Click below and fin out!
          </p>
          <%= link_to 'Go to My SRTs 🏓', srts_path, class: "btn btn-outline-light btn-lg" %>
        </div>
      </div>
    </div>
  </div>
  <small class="card-text">
    Make a free account to start using utilities. Don't worry, we won't spam you with ads, we don't have a mailer in production yet.
  </small>
</div>
<%= render 'home/portfolio' %>
